.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  gap: 15px;
}
.hero img {
  height: 250px;
  width: auto;
  margin-bottom: 25px;
  /* border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s; */
  display: inline-block;
  padding: 5px;
  border-radius: 15px;
  background: linear-gradient(45deg, #6a5af9, #f95a5a);
}

.hero-about {
  text-align: center;
  width: 70%;
  font-size: 16px;
  line-height: 35px;
}
.hero-about span {
  background: linear-gradient(90deg, #6a5af9, #f95a5a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.aboutme-content {
  text-align: center;
  width: 50%;
  letter-spacing: 2px;
  line-height: 30px;
  margin-bottom: 20px;
}
.hero-contact {
  display: flex;
  gap: 80px;
  width: auto;
}
.hero-contact p:first-child {
  background: linear-gradient(90deg, #6a5af9, #f95a5a);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  transition: tranform 0.8s step-end;
}
.hero-contact p:first-child:hover {
  transform: scale(1.05);
  background: white;
  color: black;
  font-weight: 600;
}
.hero-contact p:nth-child(2) {
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.8s linear;
}
.hero-contact p:nth-child(2):hover {
  border-color: red;
  transform: scale(1.02);
}
