.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}
.contact-title {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.contact-title h1 {
  font-weight: 600;
  transition: 0.3s;
}
.contact-title h1:hover {
  transform: scale(1.05);
}
.contact-session {
  display: flex;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
}
.contact-left {
  display: flex;
  flex-direction: column;
}
.contact-left h1 {
  background: linear-gradient(265deg, orange, rgb(238, 103, 238));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.contact-left p {
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 35px;
  max-width: 550px;
  margin-bottom: 10px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
}
.contact-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
