.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.contact-title {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.contact-title h1 {
  font-weight: 600;
  transition: 0.3s;
}
.contact-title h1:hover {
  transform: scale(1.05);
}
.contact-session {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contact-left h1 {
  background: linear-gradient(265deg, orange, rgb(238, 103, 238));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  font-size: 2.5rem;
}
.contact-left p {
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 30px;
  max-width: 500px;
  margin-bottom: 10px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.contact-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.contact-right label {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.contact-right input {
  border: none;
  height: 25px;
  width: 500px;
  background: #32323c;
  color: white;
  font-family: outfit;
  font-size: 18px;
  padding-left: 15px;
  border-radius: 4px;
}
.contact-right textarea {
  border: none;
  height: 100px;
  width: 500px;
  background: #32323c;
  color: white;
  font-family: outfit;
  font-size: 18px;
  padding: 15px;
  border-radius: 4px;
}
.submit-button {
  border: none;
  color: white;
  width: max-content;
  justify-items: center;
  background: linear-gradient(264deg, #df8905 -5.09%, #b415ff 106.28%);
  font-size: 17px;
  padding: 15px 40px;
  margin: 15px;
  cursor: pointer;
  border-radius: 20px 0 20px 0;
  transition: transform 0.3s ease;
}
.submit-button:hover {
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .contact-session {
    flex-direction: column;
    align-items: start;
    margin-left: 65px;
    gap: 50px;
  }
  .contact-left p {
    max-width: 768px;
    margin-bottom: 20px;
  }
  .contact-details {
    gap: 5px;
  }
  .contact-detail {
    display: flex;
    gap: 15px;
    flex-direction: row;
  }
  .contact-detail p {
    text-align: center;
  }
  .contact-session .contact-left h1 {
    font-size: 2rem;
  }
   .contact-right input{
    height: 35px;
   }
  .contact-right input,
  .contact-right textarea {
    width: 680px;
    
  }
  .contact-right label {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 5px;
  }
  .submit-button{
    width: 150px;
    height: 45px;
    padding: 1px 20px;
  }
}
