.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* background: #0d1b2a; */
  box-shadow: rgba(231, 231, 255, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.nav-logo {
  width: auto;
  height: 65px;
  margin: 10px;
  transition: transform 0.3s ease;
  margin-left: 20px;
}
.nav-logo:hover {
  transform: scale(1.1);
}
.nav-menu {
  color: #9ed0ff;
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 1.2rem;
  transition: transform 0.8s linear;
  cursor: pointer;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  transition: transform 0.3s ease;
}
.nav-menu li:hover {
  transform: scale(1.1);
}
.nav-connect {
  color: #ffffff;
  background: linear-gradient(135deg, #6a11cb, #ff6fd8);
  margin-right: 20px;
  padding: 10px;
  border-radius: 15px;
  font-weight: 700;
  transition: transform 0.4s ease;
}
.nav-connect:hover {
  transform: scale(1.08);
  background: transparent;
  border: 1px solid red;
}
.anchor-link{
  text-decoration: none;
  color: inherit;
}