.footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 10px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}
.footer-top-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-top-left p {
  max-width: 350px;
  line-height: 1.5;
  font-weight: 500;
}
.footer-top-right {
  display: flex;
  gap: 20px;
  align-items: center;

  gap: 30px;
  padding-right: 50px;
}
.footer-email {
  display: flex;
  gap: 10px;
  align-items: center;
  outline: none;
  border: 1px solid #8b7f7f;
  padding: 5px 10px;
  border-radius: 50px;
  background: transparent;
}
.footer-email input {
  display: flex;
  gap: 30px;
  background: transparent;
  padding: 20px 50px;
  padding: 10px;
  border: none;
  color: white;
  font-weight: 500;
  outline: none;
  width: max-content;
}
.footer-subscribe {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.footer-subscribe:hover {
  transform: scale(1.08);
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;

}
.footer-bottom-left {
  font-weight: 500;
  color: #8b7f7f;
  font-size: 16px;
  font-weight: 500;
}
.footer-bottom-left span {
  background: linear-gradient(235deg, #ff7a00, #9d00ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.footer-bottom-right {
  display: flex;
  gap: 20px;
  color: #8b7f7f;
  transition:  transform 0.3s ease;
}
.footer-bottom-right p:hover{
  color: white;
  transform: scale(1.05);
  transition: all 0.3s;
}